<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.neuwljs.module_d">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name="debug.DebugApplication" >
        <activity android:name="debug.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>