<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.neuwljs.login">

    <application
        android:name="debug.TestApplication"
        android:theme="@style/login_app_theme"
        android:label="@string/login_app_name">
        <activity android:name=".RegisterActivity"
            android:theme="@style/login_transparent_theme" />
        <activity android:name=".LoginActivity" />
        <activity android:name="debug.TestActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>